::selection {
  @apply bg-lina-50 text-lina-600;
}

/* Container */
.wrapper {
  @apply w-full max-w-screen-xl mx-auto px-4 md:px-10;
}

.home-header {
  .cards {
    @apply grid grid-cols-3 lg:grid-cols-1 my-4 lg:my-0 -mx-1 lg:mx-4;
    figure {
      @apply relative transform hover:translate-y-1 md:hover:translate-y-0 md:hover:translate-x-1 transition-all;
      &:before {
        content: '';
        @apply absolute inset-0 w-full h-full;
      }

      img {
        @apply w-full lg:w-40;
      }
    }
  }
}

.card-type {
  @apply p-6 rounded-xl text-white;
  .header {
    @apply flex items-center space-x-2;
    figure {
      img {
        @apply h-12;
      }
    }

    .title {
      @apply flex-1 flex items-center space-x-1.5 font-bold;
      font-size: 28px;
      line-height: 1;

      .day {
        @apply -mt-px;
        font-size: 66px;
      }
    }
  }

  .details {
    @apply pt-4 space-y-4 text-lg font-medium;
    .item {
      .inner {
        @apply flex items-center;
      }

      .variant {
        @apply flex-shrink-0 w-12;
      }

      .dotted {
        @apply flex-1 mx-2 h-0.5 bg-repeat-x bg-left bg-center bg-contain;
        background-image: url('/images/cards/dotted-h-white.png');
      }

      .price {
        @apply flex-shrink-0 w-16 text-right;
        &-for-mykad {
          @apply text-xs text-right opacity-60;
        }
      }
    }
  }
}

.quantity-toggle {
  @apply flex;
  button {
    @apply flex-shrink-0 w-6 h-6 border-gray-900 bg-white rounded-full;
  }
  input {
    @apply w-8 flex-1 appearance-none outline-none text-center bg-transparent font-semibold text-lina-600;
  }
}

// USP
.usp-items {
  @apply grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-0 text-center;
  .item {
    .inner {
      @apply w-40 mx-auto space-y-3.5;
      figure {
        @apply w-36 mx-auto relative;
        &:before {
          content: '';
          @apply absolute w-full h-4 bottom-0 left-0 right-0 bg-duffy-100 rounded-b-lg;
          transition: all 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms;
        }

        &:hover {
          &:before {
            @apply h-full rounded-b-lg rounded-t-1/2;
          }
        }

        img {
          @apply relative w-full;
        }
      }

      p {
        @apply body-1;
      }
    }
  }
}

%triangle-shape-base {
  content: '';
  @apply absolute transform;
  width: 0;
  height: 0;
}

.card-attraction {
  @apply grid grid-cols-3;
  &.selected {
    @apply grayscale;
    .details {
      @apply -rotate-2 -translate-x-px;
    }

    .image {
      @apply rotate-1 ;
    }
  }

  & > * {
    @apply relative;
  }

  %cutline-base {
    content: '';
    width: 5px;
    @apply h-full absolute top-0 bottom-0 transform bg-repeat-y bg-contain;
    background-image: url('/images/cards/rounded-v.png');
  }

  .details {
    @apply col-span-1 rounded-tl-md rounded-bl-md bg-lina-600 p-3 pb-0 text-white h-full transform origin-bottom-right;
    .inner {
      @apply w-full h-full space-y-2.5;
      .name {
        @apply text-sm lg:text-base font-medium;
      }

      &:after {
        @extend %cutline-base;
        @apply right-0 translate-x-1/2;
      }
    }

    // Triangle Top Right Shape
    &:before {
      @extend %triangle-shape-base;
      @apply top-0 right-0 -translate-y-px;
      border-left: 6px solid transparent;
      border-top: 7px solid white;
    }

    // Triangle Bottom Right Shape
    &:after {
      @extend %triangle-shape-base;
      @apply bottom-0 right-0 translate-y-px;
      border-left: 6px solid transparent;
      border-bottom: 7px solid white;
    }
  }

  .image {
    @apply col-span-2 transform origin-bottom-left;
    figure {
      @apply w-full pt-2/3;
      img {
        @apply absolute z-0 inset-0 rounded-tr-md rounded-br-md w-full h-full object-center object-cover;
      }

      &:before {
        content: '';
        @apply w-full h-full absolute inset-0 z-10;
      }

      &:after {
        @extend %cutline-base;
        @apply left-0 -translate-x-1/2;
      }
    }

    // Triangle Top Left Shape
    &:before {
      @extend %triangle-shape-base;
      @apply top-0 left-0 -translate-y-px;
      border-right: 6px solid transparent;
      border-top: 7px solid white;
    }

    // Triangle Bottom Left Shape
    &:after {
      @extend %triangle-shape-base;
      @apply bottom-0 left-0 translate-y-px;
      border-right: 6px solid transparent;
      border-bottom: 7px solid white;
    }
  }
}

// Attraction Summary
.attraction-summary {
  @apply -mx-4 px-4 md:-mx-10 md:px-10 lg:mx-0 lg:px-0 pt-2 pb-3 lg:py-0 bg-white drop-shadow lg:drop-shadow-none;
  %cutline-base {
    content: '';
    height: 5px;
    @apply w-full absolute left-0 right-0 transform bg-repeat-x bg-contain;
    background-image: url('/images/cards/rounded-h.png');
  }

  .top, .bottom {
    @apply relative rounded-md bg-gray-100 p-4 md:py-6;
  }

  .top {
    &:after {
      @extend %cutline-base;
      @apply bottom-0 translate-y-1/2 z-10;
    }
  }

  .bottom {
    // Triangle Top Right Shape
    &:before {
      @extend %triangle-shape-base;
      @apply top-0 right-0 -translate-y-1/2;
      border-top: 6px solid transparent;
      border-right: 7px solid white;
      border-bottom: 6px solid transparent;
    }

    // Triangle Top Left Shape
    &:after {
      @extend %triangle-shape-base;
      @apply top-0 left-0 -translate-y-1/2;
      border-top: 6px solid transparent;
      border-left: 7px solid white;
      border-bottom: 6px solid transparent;
    }
  }

  .summary-list {
    @apply space-y-4;
    .item {
      @apply flex space-x-2;
      .image {
        @apply flex-shrink-0 w-20;
        figure {
          @apply relative w-full pt-2/3 rounded overflow-hidden;
          img {
            @apply absolute inset-0 w-full h-full object-center object-cover;
          }
        }
      }

      .description {
        @apply grow font-semibold flex flex-col space-y-1;
        .name {
          @apply grow body-2;
        }

        .price {
          @apply w-full text-right caption;
        }
      }
    }
  }
}


// Pricing Page
.card-pricing {
  @apply py-4 px-5 rounded-xl text-gray-900 border border-gray-900 cursor-pointer;
  .header {
    @apply flex items-center space-x-2;
    figure {
      @apply relative;
      img {
        @apply relative h-9;
      }
      span {
        @apply absolute inset-px rounded;
      }
    }

    .title {
      @apply flex-1 text-lg font-semibold leading-tight;
      span {
        @apply block text-xs;
      }
    }
  }

  .details {
    @apply pt-4 space-y-2 text-sm font-medium;
    .item {
      .inner {
        @apply flex items-center;
      }

      .variant {
        @apply flex-shrink-0 w-9;
      }

      .dotted {
        @apply flex-1 mx-2 bg-repeat-x bg-left bg-contain;
        height: 1.5px;
        background-image: url('/images/cards/dotted-h-black.png');
      }

      .price {
        @apply flex-shrink-0 text-right;
      }
    }
  }

  &.selected {
    @apply text-white;
    .details {
      .item {
        .dotted {
          background-image: url('/images/cards/dotted-h-white.png');
        }
      }
    }
  }
}
.card-quantity {
  @apply py-4 px-5 rounded-xl text-gray-900 bg-gray-100 flex items-center;
  .name {
    @apply text-lg font-semibold leading-tight flex-1;
    span {
      @apply text-xs font-normal;
    }
  }
}

// Cart Summary
.cart-summary {
  @apply -mx-4 px-4 md:-mx-10 md:px-10 lg:mx-0 lg:px-0 pt-2 pb-3 lg:py-0 bg-white drop-shadow lg:drop-shadow-none;
  %cutline-base {
    content: '';
    height: 5px;
    @apply w-full absolute left-0 right-0 transform bg-repeat-x bg-contain;
    background-image: url('/images/cards/rounded-h.png');
  }

  .top, .bottom {
    @apply relative rounded-md bg-gray-100 p-4 md:py-6;
  }

  .top {
    &:after {
      @extend %cutline-base;
      @apply bottom-0 translate-y-1/2 z-10;
    }
  }

  .bottom {
    // Triangle Top Right Shape
    &:before {
      @extend %triangle-shape-base;
      @apply top-0 right-0 -translate-y-1/2;
      border-top: 6px solid transparent;
      border-right: 7px solid white;
      border-bottom: 6px solid transparent;
    }

    // Triangle Top Left Shape
    &:after {
      @extend %triangle-shape-base;
      @apply top-0 left-0 -translate-y-1/2;
      border-top: 6px solid transparent;
      border-left: 7px solid white;
      border-bottom: 6px solid transparent;
    }
  }

  .summary-list {
    @apply space-y-4;
    .item {
      @apply flex space-x-2 flex-wrap;
      .image {
        @apply flex-shrink-0 w-20;
        figure {
          @apply relative w-full pt-2/3 rounded overflow-hidden;
          img {
            @apply absolute inset-0 w-full h-full object-center object-cover;
          }
        }
      }

      .description {
        @apply grow font-semibold flex flex-col space-y-1;
        .name {
          @apply grow body-2;
          span {
            @apply block text-xs;
          }
        }
      }
      .variant {
        @apply w-full flex items-center justify-between m-1 space-x-2 body-2;
        .price {
          @apply font-medium;
        }
      }
    }
  }
}